<section id="event" class="bg-dark">
{% comment %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Friday Night Welcome</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>
                        Come join us for a few celebratory drinks at a local Niagara brewery
                    </dd>
                    <dt>When</dt>
                    <dd>Friday, July 1 at 9:00 pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Oast House Brewers<br>
                            <a href="https://goo.gl/maps/rDqRZ4uzpGq">2017 Niagara Stone Rd, Niagara-on-the-Lake,
                                ON L0S 1J0, Canada</a><br>
                            Phone: +1 905-262-8463
                        </address>

                    </dd>
                    <dt>Attire</dt>
                    <dd>Casual (Canadiana encouraged)</dd>
                    <dt>Transportation</dt>
                    <dd>Transportation is not provided. Please plan responsibly.</dd>
                    <dt>Parking</dt>
                    <dd>Overflow parking is available at the church across the street</dd>
                    <dt>Other info</dt>
                    <dd>
                        The brewery will have a patio open to the public at this time and guests should feel free
                        to come early and enjoy food and drink before the official party starts
                        (though we've been told it might get crowded).
                        We’ll open the doors whenever we finish eating but by 9 at the latest.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</section>
<section id="ceremony" class="bg-info">
{% endcomment %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunday Ceremony and Reception</h2>
                <hr class="primary">
                <dl class="dl-horizontal lead">
                    <dt>What</dt>
                    <dd>Celebrate our marriage in rustic fashion</dd>
                    <dt>When</dt>
                    <dd>Sunday, September 29th at 1:00pm</dd>
                    <dt>Where</dt>
                    <dd>
                        <address>
                            Masker's Barn<br>
                            <a href="https://goo.gl/maps/2kSrk98eEGL2">9 Cataract Hollow Rd, Berkeley Heights, NJ 07922</a><br>
                            Phone: (908) 527-4000
                        </address>
                    </dd>
                    <dt>Attire</dt>
                    <dd>Cocktail</dd>
                    <dt>Parking</dt>
                    <dd>Parking is available on-site in the Deserted Village</dd>
                    {% comment %}
                    <dt>Afterwards</dt>
                    <dd>
                        Guests wishing to continue celebrating with Cliff and Melissa after the reception can
                        head to the woods...
                    </dd>
                    {% endcomment %}
                </dl>
            </div>
        </div>
    </div>
{% comment %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunday</h2>
                <hr class="primary">
                <p>
                    Cliff and Melissa will be headed to work on Monday.
                    Anyone who wants to join them is welcome.
                </p>
            </div>
        </div>
    </div>
{% endcomment %}
</section>
