<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">The Lodge</h2>
            <hr class="primary">
            <h3>Getting There and Away</h3>
            <p>Schooley's Mountain Lodge is located within Schooley's Mountain Park in Long Valley, NJ<p>
            <p>
                For those coming from farther away, the venue is a 52 minute drive West from Newark International Airport.
            </p>
            <p>For those of you driving, we will try to facilitate carpooling with other guests.</p>

            <hr class="primary">
            <h3>Where to Stay</h3>
            <p>
                Below is a brief list of recommendations on places to stay near the venue.
            </p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">Days Inn by Wyndham Budd Lake</th>
                    <td>
                        The <a href="https://www.wyndhamhotels.com/days-inn/budd-lake-new-jersey/days-inn-budd-lake/overview?CID=LC:DI::GGL:RIO:National:43451&iata=00093796">This Days Inn hotel</a> located on Route 46 and around 15 minutes to the wedding venue.<br>
                        This is where the bride and groom will be staying.
			{% comment %}
			We have a block of discounted rooms reserved there - use the code <code>LZW16</code> to get the group discount.
			{% endcomment %}
                    </td>
                </tr>
                <tr>
		            <th>Neighbour House Bed & Breakfast</th>
                    <td>
                        A nice little bed and breakfast very close to the venue (10 Minutes), this is another good option.
                        <a href="https://www.neighbourhouse.com/">their website</a>.
                    </td>
                </tr>
                <tr>
                    <th>Hotels/Bed and Breakfasts in Town</th>
                    <td>
                        There are a large number of smaller hotels and B&B's in and around Long Valley, NJ.
                        We recommend just jumping on <a href="https://www.google.com/maps/search/hotel/@40.8187611,-74.8370005,12z/data=!4m8!2m7!3m6!1shotel!2sSchooleys+Mountain+Lodge,+54+Camp+Washington+Rd,+Long+Valley,+NJ+07853!3s0x89c384cdc5f14791:0x633838242a1be1ac!4m2!1d-74.7853359!2d40.7986229">Google</a>, <a href="https://www.tripadvisor.com/Hotels-g46583-Long_Valley_Morris_County_New_Jersey-Hotels.html">TripAdvisor</a>, or your favorite travel website and choosing a place.
                    </td>
                </tr>
            </table>
            <hr class="primary">
            <h3>Things to Do</h3>
            <p>If you're here for a few days, here are some ideas of things to do.</p>
            <h4>Hiking</h4>
            <p>
                Schooley's Mountain has plenty of scenic hiking trails that you can spend hours in. Travel around and get lost in the scenery, especially during the time of year when the leaves are changing!
		<a href="https://www.njhiking.com/schooleys-mountain/">Schooley's Mountain Hiking Trail Guide</a>
            </p>
            <h4>Willowwood Arboretum</h4>
            <p>
            In 1908 two brothers used a small legacy to acquire their country home near Gladstone, New Jersey.<br>
            The two brothers, Henry and Robert Tubbs, and Henry’s adopted son, Dr. Benjamin Blackburn, developed this country place into the Willowwood Arboretum, New Jersey’s most comprehensive and longest continually operating Arboretum.ame room.<br>
            Willowwood Arboretum is open free to the public daily, 365 days yearly from 8am to dusk.<br>
		<a href="https://www.willowwoodarboretum.org/">Website</a>
            </p>
            <h4>Golf</h4>
            <p>Plenty of scenic <a href="https://www.morriscountygolfcourses.com/">golf options</a> around the area.</p>
            <h4>Bowling</h4>
            <p>We recommend <a href="https://circlebowlnj.com/">Circle Bowl</a></p>
            <h4>Eat</h4>
            <p>
            <a href="https://restaurantvillageatlongvalley.com/long-valley-pub-and-brewery/">Long Valley Pub and Brewery</a> resides in a breathtakingly restored 200-year-old barn. Their award-winning brewer and outstanding culinary team have developed a wide variety of unique beers and culinary creations to appeal to the diverse tastes of their patrons.<br>
            <a href="https://www.google.com/maps/search/food/@40.784952,-74.7812121,17z/data=!3m1!4b1!4m8!2m7!3m6!1sfood!2sSchooleys+Mountain+Lodge,+54+Camp+Washington+Rd,+Long+Valley,+NJ+07853!3s0x89c384cdc5f14791:0x633838242a1be1ac!4m2!1d-74.7853359!2d40.7986229">Google</a> has a good list of other places nearby as well.
            </p>
        </div>
    </div>
</div>
