<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Masker's Barn</h2>
            <hr class="primary">
            <h3>Getting There and Away</h3>
            <p>Masker's Barn is located in the Deserted Village section of Watchung Reservation.</p>
            <p>
                For those coming from farther away, the venue is a 25 minute drive West from Newark International Airport.
            </p>
            <p>For those of you driving, we will try to facilitate carpooling with other guests.</p>

            <hr class="primary">
            <h3>Where to Stay</h3>
            <p>
                Below is a brief list of recommendations on places to stay near Berkley Heights, NJ.
            </p>
            <table class="table table-striped">
                <tr>
                    <th class="col-md-2">Hilton Garden Inn Springfield</th>
                    <td>
			The <a href="https://hiltongardeninn3.hilton.com/en/hotels/new-jersey/hilton-garden-inn-springfield-nj-EWRSPGI/index.html?SEO_id=GMB-GI-EWRSPGI">Hilton Garden Inn Springfield</a> is conveniently located on Route 22 and very close to the wedding venue.
                        It is about a 10 minute drive to the reservation from this hotel.
			{% comment %}
			We have a block of discounted rooms reserved there - use the code <code>LZW16</code> to get the group discount.
			{% endcomment %}
                    </td>
                </tr>
                <tr>
		<th>Courtyard by Marriott Basking Ridge</th>
                    <td>
                        While it's a bit farther away from the venue (20 Minutes), this is another good option.
                        <a href="https://www.marriott.com/hotels/travel/sossm-courtyard-basking-ridge/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2">their website</a>.
                    </td>
                </tr>
                <tr>
                    <th>Hotels/Bed and Breakfasts in Town</th>
                    <td>
                        There are a large number of smaller hotels and B&B's in and around Watchung Reservation.
			We recommend just jumping on <a href="https://www.google.com/maps/search/Hotels/@40.684848,-74.418122,13z/data=!3m1!4b1!4m8!2m7!3m6!1sHotels!2sThe+Deserted+Village,+9+Cataract+Hollow+Rd,+Berkeley+Heights,+NJ+07922!3s0x89c3b01134eeeca7:0x26f94c2ff086985b!4m2!1d-74.3890447!2d40.6788546">Google</a>, <a href="https://www.tripadvisor.com/Hotels-g46302-Berkeley_Heights_New_Jersey-Hotels.html">TripAdvisor</a>, or your favorite travel website and choosing a place.
                    </td>
                </tr>
            </table>
            <hr class="primary">
            <h3>Things to Do</h3>
            <p>If you're here for a few days, here are some ideas of things to do.</p>
            <h4>Hiking</h4>
            <p>
                Watchung Reservation is FULL of hiking trails that you can spend hours in. Travel around and get lost in the scenery, especially during the time of year when the leaves are changing!
		<a href="https://www.nynjtc.org/park/watchung-reservation">Watchung Reservation Hiking Trail Guide</a>
            </p>
            <h4>Escapology</h4>
            <p>
                Garwood's original real life PRIVATE Escape Game Experience (Never Play with Strangers!). Escapology is located in a prime spot next to Crunch Fitness in the Garwood Mall, up to 6 players will be challenged in this new attraction by working together to find clues, solve puzzles, and pick locks that will free them from the game room.
		<a href="https://www.escapology.com/en/garwood-nj/">Website</a>
            </p>
            <h4>Niagara Falls</h4>
            <p>A walk around the falls at sunset or at night can be gorgeous. You can also take a ferry through them, though prepare to get wet!</p>
            <p>Around Niagara Falls is a thriving industry of haunted houses, a Butterfly Conservatory, Botanical Gardens, and even Niagara Falls Casino.</p>
            <h4>Golf</h4>
            <p>Plenty of scenic <a href="http://www.notlgolf.com/index.html">golf options</a> around town, many of them using the same grounds for vines as for courses.</p>
            <h4>Eat</h4>
            <p>
                Great meals can be found at <a href="http://www.thegarrisonhouse.ca/#!home/mainPage">Garrison House</a>, <a href="http://www.treadwellcuisine.com/">Treadwell</a>, and <a href="http://backhouse.xyz/">Backhouse</a>.
                <a href="http://www.twosistersvineyards.com/site/kitchen-76">Kitchen 72</a> inside the Two Sisters Vineyard serves delicious Italian food inside of an impressive estate.
            </p>
            <h4>Drink</h4>
            <p><a href="http://www.silversmithbrewing.com/">Silversmith Brewing</a> is an excellent local artisanal brewery offering offbeat new drinks.</p>
            <p>Some informal later-night options include The Olde Angel Inn, Sandtrap, and the Irish Harp.</p>
        </div>
    </div>
</div>
