<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
               "Why can't we be more like Cliff and Melissa?" - Every couple
            </p>
            <p>
                Cliff and Melissa met on the painted battlefield of Albrightsville, PA.
                Cliff saw Melissa laugh as she shot dozens of people and wiped sweat from her brow.
                Melissa thought Cliff was a handsome gentlemen who pulled off camo pretty well.
                After 5 years, Cliff asked Melissa to be his wife and Melissa graced him with the a "YES!", and the rest has been history.
            </p>
        </div>
    </div>
</div>
